{% extends 'base.html.twig' %}

{% block title %}{{ user.fullname}}
{% endblock %}

{% block heading %}
    <i class="fal fa-user"></i>
    {{ user.fullname}}
{% endblock %}

{% block breadcrumbbutton %}
    <li>
        <a href="{{ path('profile_edit') }}">
            <i class="fal fa-pen"></i>
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('profile_edit_password') }}">
            <i class="fal fa-key"></i>
            Edit password
        </a>
    </li>
    <li>
        <a href="{{ path('my_sensor') }}">
            <i class="fal fa-video"></i>
            My sensors
        </a>
    </li>
{% endblock %}

{% block breadcrumbitems %}
    <li>
        <a href="{{ path('admin_user_index') }}">
            Users
        </a>
    </li>
    <li class="active">
        <a href="{{ path('admin_user_show', {'id': user.id }) }}">{{ user.fullname}}</a>
    </li>
{% endblock %}

{% block body %}

    <div class="panel panel-flat">

        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ user.lastname }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}