{% extends 'base.html.twig' %}

{% block title %}Relevé{% endblock %}

{% block breadcrumbitems %}
  <span class="breadcrumb-item active">{{ measure.typeLabel }}</span>
{% endblock %}

{% block body %}
  <div class="card ">
    <div class="card-header bg-light">
      <h5 class="card-title">
        <i class="fal fa-{{ measure.getIcon }} fa-fw"></i>
        {{ measure.typeLabel }}
        ({{ measure.unit }})
      </h5>
    </div>
    <div class="card-body">
      {{ form_start(form) }}
      {{ form_widget(form) }}

      <div class="text-right">
        <input type="submit" class="btn btn-success" value="Sauvegarder"/>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}