{% extends 'base.html.twig' %}

{% block title %}Station météo{% endblock %}

{% block breadcrumbitems %}
    <span class="breadcrumb-item active">Dernières 24h</span>
{% endblock %}

{% block body %}
    <div class="card card-body">
        <div class="row text-center">
            <div class="col-3">
                <p>
                    <i class="fad fa-thermometer-half fa-2x"></i>
                </p>
                <h5 class="font-weight-semibold mb-0">{{ hourly_stats.avg|number_format('2', ',', ' ')}}°C</h5>
                <span class="text-muted font-size-sm">Dernière heure</span>
            </div>

            <div class="col-3">
                <p>
                    <i class="fad fa-thermometer-full fa-2x"></i>
                </p>
                <h5 class="font-weight-semibold mb-0">{{ daily_stats.max|number_format('2', ',', ' ')}}°C</h5>
                <span class="text-muted font-size-sm">Max</span>
            </div>

            <div class="col-3">
                <p>
                    <i class="fad fa-thermometer-empty fa-2x"></i>
                </p>
                <h5 class="font-weight-semibold mb-0">{{ daily_stats.min|number_format('2', ',', ' ')}}°C</h5>
                <span class="text-muted font-size-sm">Min</span>
            </div>

            <div class="col-3">
                <p>
                    <i class="fad fa-clock fa-2x"></i>
                </p>
                <h5 class="font-weight-semibold mb-0">{{ last_temperature|date('d/m/Y H:i') }}</h5>
                <span class="text-muted font-size-sm">Dernier relevé</span>
            </div>
        </div>
    </div>

    <div class="card card-body">
        <div class="chart-container">
            <div class="chart" id="temperature"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% if graph != '' %}
        <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/visualization/c3/c3.min.js"></script>
        <script>
            var line_chart = c3.generate({
                bindto: '#temperature',
                point: {
                    r: 4
                },
                size: {
                    height: 400
                },
                color: {
                    pattern: [
                        '#b36205',
                        '#009688',
                        '#F4511E',
                        '#1E88E5',
                        '#FF9800',
                        '#8BC34A',
                        '#03A9F4',
                        '#3F51B5',
                        '#673AB7',
                        '#9C27B0',
                        '#E91E63',
                        '#777777',
                        '#795548',
                        '#607D8B'
                    ]
                },
                axis: {
                    x: {
                        type: 'category',
                        categories: {{ graph.hour|json_encode|raw }}
                    }
                },
                data: {
                    columns: [
                        {{ graph.avg|json_encode|raw }}, {{ graph.min|json_encode|raw }}, {{ graph.max|json_encode|raw }}
                    ],
                    type: 'spline'
                },
                grid: {
                    y: {
                        show: true
                    }
                }
            });
        </script>
    {% endif %}
{% endblock %}