{% extends 'base.html.twig' %}

{% block title %}Daily stats
{% endblock %}

{% block breadcrumbbutton %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fal fa-chart-line "></i>
            Stats
            <i class="fal fa-caret-down"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a href="{{ path('admin_order_stat_year_site') }}">
                <i class="fal fa-chart-line "></i>
                Yearly</a>
        </li>
        <li>
            <a href="{{ path('admin_order_stat_month_site') }}">
                <i class="fal fa-chart-line "></i>
                Monthly</a>
        </li>
        <li>
            <a href="{{ path('admin_order_stat_day_site') }}">
                <i class="fal fa-chart-line "></i>
                Daily</a>
        </li>
        <li>
            <a href="{{ path('admin_order_stat_hour_site') }}">
                <i class="fal fa-chart-line "></i>
                Hourly</a>
        </li>
    </ul>
</li>
{% endblock %}

{% block breadcrumbitems %}
<li class="active">
    Météo
</li>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% if graph != '' %}
    <script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/visualization/c3/c3.min.js"></script>
    <script>
        var line_chart = c3.generate({
            bindto: '#c3-line-chart',
            point: {
                r: 4
            },
            size: {
                height: 400
            },
            color: {
                pattern: [
                    '#009688',
                    '#F4511E',
                    '#1E88E5',
                    '#FF9800',
                    '#8BC34A',
                    '#03A9F4',
                    '#3F51B5',
                    '#673AB7',
                    '#9C27B0',
                    '#E91E63',
                    '#777777',
                    '#795548',
                    '#607D8B'
                ]
            },
            axis: {
                x: {
                    type: 'category',
                    categories: [
                        'January',
                        'February',
                        'March',
                        'April',
                        'May',
                        'June',
                        'July',
                        'August',
                        'September',
                        'October',
                        'November',
                        'December'
                    ]
                }
            },
            data: {
                columns: [{{ graph|raw }}],
                type: 'spline'
            },
            grid: {
                y: {
                    show: true
                }
            }
        });
    </script>
{% endif %}
{% endblock %}

{% block body %}
{% if pagination | length > 0 %}
    <div class="text-center">
        <p>
            <ul class="pagination">
                {% for page in pagination %}
                    <li class="{% if current_year == page.day %}active{% endif %}">
                        <a href="{{ path(route, {'id': site.id, 'date':page.max_date}) }}">
                            {{ page.day }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </p>
    </div>
{% endif %}

<div class="panel panel-flat">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    {% for stat in stats if stat.selected %}
                        <th class="text-right">{{stat.display_day}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Moyenne</th>
                    {% for stat in stats if stat.selected %}
                        <td class="text-right">
                            {{ stat.avg|number_format(1, ',', ' ') }}
                            <br>
                            {% if stat.lastyear_avg is defined and stat.lastyear_avg_percent is defined %}
                                {% if stat.lastyear_avg_percent < 0 %}
                                    <span title="{{ stat.lastyear_avg|number_format(1, ',', ' ') }}" class="text-warning">
                                        <i class="fal fa-caret-down"></i>
                                        {{ stat.lastyear_avg_percent|number_format(1, ',', ' ') }}&nbsp;%
                                    </span>
                                {% else %}
                                    <span title="{{ stat.lastyear_avg|number_format(1, ',', ' ') }}" class="text-success">
                                        <i class="fal fa-caret-up"></i>
                                        {{ stat.lastyear_avg_percent|number_format(1, ',', ' ') }}&nbsp;%
                                    </span>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Minimum</th>
                    {% for stat in stats if stat.selected %}
                        <td class="text-right">
                            {{stat.min|number_format(0, ',', ' ')}}
                            <br>
                            {% if stat.lastyear_min is defined and stat.lastyear_min_percent is defined %}
                                {% if stat.lastyear_min_percent < 0 %}
                                    <span title="{{ stat.lastyear_min|number_format(0, ',', ' ') }}" class="text-warning">
                                        <i class="fal fa-caret-down"></i>
                                        {{ stat.lastyear_min_percent|number_format(1, ',', ' ') }}&nbsp;%
                                    </span>
                                {% else %}
                                    <span title="{{ stat.lastyear_min|number_format(0, ',', ' ') }}" class="text-success">
                                        <i class="fal fa-caret-up"></i>
                                        {{ stat.lastyear_min_percent|number_format(1, ',', ' ') }}&nbsp;%
                                    </span>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Maximum</th>
                    {% for stat in stats if stat.selected %}
                        <td class="text-right">
                            {{stat.max|number_format(0, ',', ' ')}}
                            <br>
                            {% if stat.lastyear_max is defined and stat.lastyear_max_percent is defined %}
                                {% if stat.lastyear_max_percent < 0 %}
                                    <span title="{{ stat.lastyear_max|number_format(0, ',', ' ') }}" class="text-warning">
                                        <i class="fal fa-caret-down"></i>
                                        {{ stat.lastyear_max_percent|number_format(1, ',', ' ') }}&nbsp;%
                                    </span>
                                {% else %}
                                    <span title="{{ stat.lastyear_max|number_format(0, ',', ' ') }}" class="text-success">
                                        <i class="fal fa-caret-up"></i>
                                        {{ stat.lastyear_max_percent|number_format(1, ',', ' ') }}&nbsp;%
                                    </span>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if graph != '' %}
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="chart-container">
                <div class="chart" id="c3-line-chart"></div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}