{% extends 'base.html.twig' %}

{% block title %}
    Paramètres
    {% if breadcrumb is defined %}-
        {{ breadcrumb }}
    {% endif %}
    -
    {{ setting_title }}
{% endblock %}

{% block breadcrumbitems %}
    {% if breadcrumb is defined %}
        <li>{{ breadcrumb }}</li>
    {% endif %}
    <li class="active">{{ setting_title }}</li>
{% endblock %}

{% block heading %}
    <i class="fas fa-cog"></i>
    Paramètres
    {% if breadcrumb is defined %}{{ breadcrumb }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ setting_title }}</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-body">

                    <form action="" class="form-horizontal form-label-left" method="POST">
                        {% for key, setting in settings %}
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    <label for="{{key}}">{{setting.label}}</label>
                                    {% if setting.help is defined and setting.help != '' %}
                                        <p>{{ setting.help }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    {% if (setting.disabled) %}
                                        {% if (setting.type == 'img') %}
                                            <img src="{{ setting.value }}" alt=""/>
                                        {% else %}
                                            <pre>{{ setting.value }}</pre>
                                        {% endif %}
                                    {% else %}
                                        {% if (setting.type == 'text') %}
                                            <input id="{{key}}" name="{{key}}" type="text" class="form-control" value="{{ setting.value }}"/>
                                        {% elseif (setting.type == 'textarea')  %}
                                            <textarea name="{{key}}" id="{{key}}" class="form-control" cols="30" rows="10">{{ setting.value }}</textarea>
                                        {% elseif (setting.type == 'select')  %}
                                            <select name="{{key}}" id="{{key}}" class="form-control">
                                                {% for key, value in setting.options %}
                                                    <option value="{{key}}" {% if setting.value == key %} selected="selected" {% endif %}>{{value}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="ln_solid"></div>
                        <input type="submit" class="btn btn-success" value="Enregistrer"/>
                    </form>

                </div>

            </div>

        </div>
    </div>

    {% if settings.filezilla is defined %}
        {% include('setting/filezilla.html.twig') %}
    {% endif %}

    {% if email_previews is defined %}
        {% include('setting/emailpreview.html.twig') %}
    {% endif %}

{% endblock %}