{% if app.user %}
    <div class="sidebar sidebar-main">
        <div class="sidebar-content">

            {#
            <div class="sidebar-user">
                <div class="category-content">
                    <div class="media">
                        <a href="#" class="media-left"><img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                        <div class="media-body">
                            <span class="media-heading text-semibold">Victoria Baker</span>
                            <div class="text-size-mini text-muted">
                                <i class="fal fa-map-marker-alt"></i>
                                &nbsp;Santa Ana, CA
                            </div>
                        </div>
                    </div>
                </div>
            </div>
#}
            <div class="sidebar-category sidebar-category-visible">
                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">

                        <li {% if 'admin_site' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                            <a href="{{ path('admin_site_index') }}">
                                <i class="fal fa-globe"></i>
                                <span>Sites</span></a>
                        </li>
                        {% if false %}
                            <li {% if 'admin_user' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                <a href="#" class="has-ul">
                                    <i class="fal fa-tools"></i>
                                    <span>Administration</span>
                                </a>
                                <ul {% if not 'admin_user' in app.request.attributes.get('_route') %} class="hidden-ul" {% endif %}>
                                    <li {% if 'admin_user' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                        <a href="#">
                                            <i class="fal fa-users"></i>
                                            User
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted("ROLE_ROOT") %}
                            <li {% if 'setting' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                <a href="#" class="has-ul">
                                    <i class="fal fa-cogs"></i>
                                    <span>Paramètres</span>
                                </a>
                                <ul {% if not 'setting' in app.request.attributes.get('_route') %} class="hidden-ul" {% endif %}>
                                    <li {% if 'setting_choices' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                        <a href="{{ path('setting_choices') }}">Choices</a>
                                    </li>
                                    <li {% if 'setting_ftp' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                        <a href="{{ path('setting_ftp') }}">FTP</a>
                                    </li>
                                    <li {% if 'setting_mail_layout' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                        <a href="{{ path('setting_mail_layout') }}">Emails</a>
                                    </li>
                                    <li {% if 'setting_mail_new_user' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                        <a href="{{ path('setting_mail_new_user') }}">Email new user</a>
                                    </li>
                                    <li {% if 'setting_password_forgotten_user' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                        <a href="{{ path('setting_password_forgotten_user') }}">Email password forgotten</a>
                                    </li>
                                    <li {% if 'setting_mail_reset_password' in app.request.attributes.get('_route') %} class="active" {% endif %}>
                                        <a href="{{ path('setting_mail_reset_password') }}">Email reset password</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endif %}