<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" alt=""></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li>
                <a data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="fal fa-bars"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-control sidebar-main-toggle hidden-xs">
                    <i class="fal fa-bars"></i>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            {% if app.user %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fal fa-user"></i>
                        {{ app.user.fullname }}
                        <i class="fal fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="{{ path('profile_edit') }}">
                                <i class="fal fa-user"></i>
                                My profile
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('profile_edit_password') }}">
                                <i class="fal fa-key"></i>
                                My password
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">
                                <i class="fal fa-sign-out"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">
                        <i class="fal fa-sign-in"></i>
                        Login
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</div>